<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>863555616394-0qkn4307ak6ienlsiro6ed1u776ocvip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863555616394-0qkn4307ak6ienlsiro6ed1u776ocvip</string>
	<key>API_KEY</key>
	<string>AIzaSyB9mtRhm8fdcDm4M3iojGSUuFqbHac0caA</string>
	<key>GCM_SENDER_ID</key>
	<string>863555616394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.polyappdev.FoodHunter</string>
	<key>PROJECT_ID</key>
	<string>foodhunter-284d3</string>
	<key>STORAGE_BUCKET</key>
	<string>foodhunter-284d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:863555616394:ios:6851f13580a6ad7d</string>
	<key>DATABASE_URL</key>
	<string>https://foodhunter-284d3.firebaseio.com</string>
</dict>
</plist>